<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- laft side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/img4.png" alt="vk" class="img-fluid" title="vrushik">
                        </figure>
                        <p>Wlcome To Vk World </p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                    <!-- right side div -->
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
{{>footer}}
</body>

</html>