<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- laft side div -->
                    <div class="col-md-6 col main_header_right align-items-center">
                        <figure>
                            <img src="images/img5 .png" alt="vk" class="img-fluid" title="vrushik">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>•Real  estate in lest transparent in our ecosystem.</p>
                        <p>•House prices increase every year,so there is a need for system to predict house prices in the future.</p>
                        <p>•Predicting House Prices with real factors.</p>
                        <p>•We aim to make evalutions dased on every basic parameter that is considered while detemining the price</p>
                        <a href="https://www.google.com/maps/d/u/0/viewer?ie=UTF8&hl=en&msa=0&ll=22.30688500000001%2C73.23623699999999&spn=0.304924%2C0.439453&z=11&source=embed&mid=1Py012-S5OsM0qf4L0KUV3DwUCXw"><button>Map</button></a>
                    </div>
                    <!-- right side div -->
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
{{>footer}}
</body>

</html>